@model BookBarn.Models.AuthorSuggestion
<h1>Suggest an Author</h1>

<form asp-action="Create" method="post">

    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="MiddleName"></label>
        <input asp-for="MiddleName" />
        <span asp-validation-for="MiddleName"></span>
    </div>

    <div>
        <label asp-for="Rating"></label>
        <input asp-for="Rating" />
        <span asp-validation-for="Rating"></span>
    </div>

    <div>
        <label asp-for="Notes"></label>
        <textarea asp-for="Notes"></textarea>
        <span asp-validation-for="Notes"></span>
    </div>

    <button type="submit">Submit Recommendation</button>
</form>